<!DOCTYPE html>
<html>
  <head>
    <title>Display Tasks</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="container">
      <h2 class="mt-4 mb-3">Tasks</h2>
      <!-- Search form -->
      <form class="d-flex mb-4">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="table-responsive">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Due date</th>
              <th>Status</th>
              <th>Category</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td>{{ item.title }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.due_date }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.category }}</td>
              <td>
                <a
                  href="{% url 'taskmanager:edit_item' item.id %}"
                  class="btn btn-primary btn-sm"
                  >Edit</a
                >
              </td>
              <td>
                <a
                  href="{% url 'taskmanager:delete_item' item.id %}"
                  class="btn btn-danger btn-sm"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
              >Previous</a
            >
          </li>
          <li class="page-item"><a class="page-link" href="#1">1</a></li>
          <li class="page-item"><a class="page-link" href="#2">2</a></li>
          <li class="page-item"><a class="page-link" href="#3">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    {% endblock %}
  </body>
</html>
